{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Past bookings{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>There are a total of {{ user_visited_all }} users who booked all houses!!!</p>
<p>You have booked a total of {{ unique_booking_count.count }} unique houses before</p>
<p>You have a total of {{ unique_houses_not_booked.count }} unique houses to explore</p>
<hr>

<table>
    <thead>
        <td>Location</td>
        <td>Price per day</td>
        <td>Rent start date</td>
        <td>Number of days</td>
    </thead>
    <tbody>
        {% for rent in rents %}
        <tr>
            <td>{{rent.location}}</td>
            <td>{{rent.price}}</td>
            <td>{{rent.date}}</td>
            <td>{{rent.num_of_days}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
