{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Confirm Rental Booking{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Rental for {{ house.location }}, {{ house.num_room }}-room</h2>
<p>Price: {{ house.price }}</p>
<hr>
<h2>Input your rental details</h2>

<form method="POST">
    <label>Credit Card</label>
    <select type="insert" name="credit_card_num" id="credit_card_num" required >
        {% for card in cards %}
        <option value={{card.number}}>{{ card.number }} ({{ card.type }})</option>
        {% endfor %}
    </select>

    <label for="booking_date">Start date of rental</label>
    <input type="date" name="booking_date" id="booking_date" required >

    <label for="num_of_days">Number of days</label>
    <input type="number" name="num_of_days" id="num_of_days" required >

    <input type="submit" value="Submit rental booking">
</form>
{% endblock %}